@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body, h1, input {
  margin: 0;
}
