@import "../../styles/utils/colors.scss";
@import "../../styles/utils/mixins.scss";

.game {
  padding: 50px;

  @include onMobile {
    font-size: 18px;
  }

  &__progress {
    height: 10px;
    border-radius: 30px;
    background-color: $title-bg;
    margin-bottom: 25px;
    margin-top: 15px;

    &--inner {
      height: 100%;
      border-radius: 30px;
      width: 80%;
      background: rgb(18, 231, 48);
      transition: all 0.3s ease-in-out;
      background: linear-gradient(90deg, rgba(18, 231, 48, 1) 0%, rgba(0, 212, 255, 1) 100%);
    }
  }

  &__question--title {
    margin: 0;
    margin-bottom: 30px;

    @include onMobile {
      font-size: 18px;
    }
  }

  &__question_list {
    width: 100%;
    list-style: none;
    margin-bottom: 20px;
    padding: 0;
  }

  &__question {
    user-select: none;
    padding: 15px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;

    &--clicked-correct {
      background-color: $add-btn-bg;
      color: #fff;
    }

    &--clicked-inCorrect {
      background-color: $remove-btn-bg-hv;
      color: #fff;
    }

    @include onMobile {
      font-size: 14px;
      padding: 10px;
      margin-bottom: 3px;
    }

    &:hover {
      border: 2px solid rgba(0, 0, 0, 0.3);
    }
  }
}
