$main-grey: #838785;
$secondary-grey: rgb(192, 192, 192);

$remove-btn-bg: #b72c2cab;
$remove-btn-bg-hv: #e23c3cab;

$add-btn-bg: #13924e;
$add-btn-bg-hv: #2fc274;

$error-bg: #fdeded;
$error-text: #f1a7a7;

// Questions list

$easy-diff: #13924e;
$medium-diff: #e9c200;
$hard-diff: #d60400;

$title-bg: #f7f5f5;

$modal-window-bg: #eee;
$modal-window-btn: #c81010;
