@import "../../styles/utils/mixins.scss";

.quantityPage {
  text-align: center;
  font-size: 18px;

  @include onMobile {
    font-size: 16px;
  }

  &__header {
    margin-bottom: 20px;
    transition: text-decoration-line, 0.5s;

    &--warning {
      text-decoration-color: #ff006e;
      text-decoration-line: underline;
      text-decoration-thickness: 3px;
      text-underline-offset: 7px;
    }
  }

  &__categories {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 20px;

    @include onMobile {
      gap: 10px;
      margin-bottom: 20px;
    }
  }

  &__button {
    padding: 10px 20px;

    color: #fff;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;

    border-radius: 30px;
    border: 0;
    background-color: darken(#ff006e, 3%);
    
    cursor: pointer;
    transition: background 0.8s;

    @include onMobile {
      font-size: 14px;
      padding: 5px 15px;
    }

    &--next {
      background-color: #6a5be2;
    }

    &--chosen {
      background-color: #6a5be2;
    }
  }
}
