.resultPage {
  text-align: center;

  @media (max-width: 400px) {
    font-size: 16px;
  }

  &__button {
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    border-radius: 30px;
    border: 0;
    padding: 15px 30px;
    font-size: 20px;
    background-color: darken(#ff006e, 3%);
    color: #fff;
    margin-top: 20px;
    cursor: pointer;

    margin-bottom: 20px;
  }

  &__header {
    margin-bottom: 0;

    @media (max-width: 400px) {
      font-size: 20px;
    }
  }

  &__img {
    width: 450px;

    @media (max-width: 400px) {
      width: 100%;
      padding: 20px 20px 0;
      border-radius: 50px;
    }
  }
}
